@import url("cascade.css");

@media (max-width:900px){
    .menu{
        display: none;
    }

    .nav{
        backdrop-filter: blur(10px);
        /* background-color: #222; */
        height: 100px;
        justify-content: left;
    }

    .intro{
        height: fit-content;
    }

    .logo{
        margin-left: 50px;
        font-size: 25px;
        font-weight: bold;
    }

    #text-container{
        font-size: 18px;
    }

    #intro-text{
        width: 100%;
        margin-top: 100px;
    }

    .twin-btn{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
    }

    .twin-btn button{
        width: 100px;
        font-size: 15px;
    }

    .inner-links{
        width: 90%;
    }

    .link-1,.link-2,.link-3{
        font-size: 20pt;
        margin-bottom: 30px;
    }

    .h-p,
    .e-p,
    .t-p {
        border: 16px solid transparent;
        position: absolute;
        bottom: 0;
        border-bottom-color: whitesmoke;
        z-index: 1;
    }

    #content-tabs{
        /* margin-top: 200px; */
    }

    .home-inner{
        width: 100%;
    }

    .port{
        display: flex;
        margin-top: 20px;
        /* background-color: red; */
        height: fit-content;
        flex-direction: column;
    }

    .p-l{
        width: 100%;
        height: fit-content;
        justify-content: space-around;
        display: flex;
        order: 2;
        margin-top: 50px;
    }

    .p-r{
        order: 1;
        width: 100%;
        padding: 10px;
    }
    .p-pic{
        width:200px;
        height: 200px;
    }
}