@import url("cascade.css");

@media (max-width:900px){
    .menu{
        display: none;
    }

    .nav{
        backdrop-filter: blur(10px);
        /* background-color: #222; */
        height: 100px;
        justify-content: left;
    }

    .intro{
        height: fit-content;
    }

    .logo{
        margin-left: 50px;
        font-size: 25px;
        font-weight: bold;
    }

    #text-container{
        font-size: 18px;
    }

    #intro-text{
        width: 100%;
        margin-top: 100px;
    }

    .twin-btn{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
    }

    .twin-btn button{
        width: 100px;
        font-size: 15px;
    }

    .inner-links{
        width: 90%;
    }

    .link-1,.link-2,.link-3{
        font-size: 20pt;
        margin-bottom: 30px;
    }

    .h-p,
    .e-p,
    .t-p {
        border: 16px solid transparent;
        position: absolute;
        bottom: 0;
        border-bottom-color: whitesmoke;
        z-index: 1;
    }

    #content-tabs{
        /* margin-top: 200px; */
    }

    .home-inner{
        width: 100%;
    }

    .port{
        display: block;
        margin-top: 20px;
        /* background-color: red; */
        height: fit-content;
        flex-direction: column;
    }

    .p-l{
        width: 100%;
        height: fit-content;
        justify-content: space-around;
        display: flex;
        /* order: 2; */
        margin-top: 50px;
    }

    .p-r{
        /* order: 1; */
        width: 100%;
        padding: 10px;
        text-align: center;
        margin-top: 30px;
    }
    .p-pic{
        width:200px;
        height: 200px;
    }

    /* Working on the contact tab */

    .con-inner{
        width: 100%;
        height: fit-content;
    }

    .socials{
        width: 98%;
        display: block;
        margin: auto;
    }

    .s-left{
        width: 100%;
        padding:10px;
    }

    .s-head{
        padding-bottom: 10px;
        font-size: 20px;
    }

    .s-right{
        width: 100%;
    }

    .dp1{
        width: 85%;
    }

    /* working on tools tab */

    #tool-inner{
        width: 95%;
    }

    .skill-bar{
        height: fit-content;
        display: block;
        width: fit-content;
        margin: auto;
        margin-top: 100px;
    }

    .skill-box{
        width:300px;
    }

    .skill-box:nth-of-type(2){
        margin-top: 50px;
    }

    .next-h{
        display: block;
    }

    .nexter{
        display: flex;
        margin-top: 20px;
        padding: 10px;
        justify-content: space-around;
        width: fit-content;
        gap: 10px;
        font-weight: bold;
        align-items: center;
    }
    
    .next-icon{
        width: 40px;
        height: fit-content;
        background-color: var(--var-background-color);
        color: white;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        border-radius: 100%;
    }
    
}